@import "/src/assets/scss/responsive-query.scss";

:host {
    .header {
        background-color: #026aa7;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        max-height: 40px;
        height: 40px;
        overflow: hidden;
        padding: 4px 4px;
        justify-content: space-between;
        color: #ffffff;
        .right {
            .user-management {
                width: 36px;
                height: 36px;
                display: flex;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                background-color: #e0e0e0;
            }
        }
        .app-name {
            font-size: 24px;
            font-weight: 500;
            padding: 0px 8px;
            cursor: pointer;
            @include Responsive(SM) {
                font-size: 20px;
            }
        }
    }
}
