<div class="header">
  <div class="left d-flex align-items-center">
    <!-- home -->
    <div class="app-name">Trello</div>

    <!-- mobile sidebar -->
    <button
      *ngIf="currentScreenSize == 'Small'"
      mat-icon-button
      class="menu-sidebar flex-center"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>list</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a
        *ngFor="let item of sidebarItems"
        mat-menu-item
        class="sidebar-item"
        [class.active]="item === sidebarSelected"
        [routerLink]="item.link"
      >
        {{ item.title }}</a
      >
    </mat-menu>


  </div>
  <div class="right">
    <div class="notify"></div>
    <div class="user-management">NV</div>
  </div>
</div>
