@import "/src/assets/scss/responsive-query.scss";

:host {
  .header {
    background-color: #026aa7;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    max-height: 48px;
    height: 48px;
    overflow: hidden;
    padding: 4px 4px;
    justify-content: space-between;
    color: #ffffff;
    .right {
      .user-management {
        width: 36px;
        height: 36px;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: #e0e0e0;
      }
    }
    .app-name {
      font-size: 24px;
      font-weight: 500;
      padding: 0px 8px;
      cursor: pointer;
      @include Responsive(SM) {
        font-size: 20px;
      }
    }

    .btn-add-board {
      background: rgba(0, 0, 0, 0.24);
      &:hover {
        background: rgba(255, 255, 255, 0.24);
      }
    }
  }
}

.header {
  .mat-icon-button {
    width: 36px;
    height: 36px;
    line-height: 36px;
  }
}

::ng-deep {
  .header-create-menu {
    position: relative;
    .create {
      margin: 0px 12px;
      font-size: 14px;
      border-bottom: 1px solid rgba(9, 30, 66, 0.13);
      color: #5e6c84;
      height: 40px;
      display: block;
      position: relative;
      line-height: 40px;
      margin-bottom: 12px;
      text-align: center;
    }
    .item {
      margin: 4px 0px;
      padding: 4px 12px;
      cursor: pointer;
      &:hover {
        background: rgba(9, 30, 66, 0.04);
      }
      &:active {
        background: #e4f0f6;
      }
      .title {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #172b4d;
      }
      .description {
        color: #5e6c84;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        margin: 2px 0 0 0;
        padding: 0;
      }
    }
    .btn-close {
      position: absolute;
      right: 12px;
      top: 16px;
      font-size: 12px;
      line-height: 12px;
      width: 12px;
      height: 12px;
    }
  }
}
