<div class="header">
  <div class="left d-flex align-items-center">
    <!-- home -->
    <div class="app-name">Trello</div>

    <!-- mobile sidebar -->
    <button
      *ngIf="currentScreenSize == 'Small'"
      mat-icon-button
      class="menu-sidebar flex-center ms-2"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>list</mat-icon>
    </button>
   

    <!-- create -->
    <button
      *ngIf="currentScreenSize == 'Small'"
      mat-icon-button
      class="btn-add-board flex-center  ms-2"
      [matMenuTriggerFor]="createMenu"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      *ngIf="currentScreenSize != 'Small'"
      mat-button
      class="btn-add-board flex-center  ms-2"
      [matMenuTriggerFor]="createMenu"
    >
      Create
    </button>
  </div>
  <!-- end create -->
  <div class="right">
    <div class="notify"></div>
    <div class="user-management">NV</div>
  </div>
</div>

<!-- sidebar mat menu -->
<mat-menu #menu="matMenu">
  <a
    *ngFor="let item of sidebarItems"
    mat-menu-item
    class="sidebar-item"
    [class.active]="item === sidebarSelected"
    [routerLink]="item.link"
  >
    {{ item.title }}</a
  >
</mat-menu>
<!-- create menu -->
<mat-menu #createMenu="matMenu" class="header-create-menu">
  <div class="create">Create</div>
  <div *ngFor="let item of createActions" class="item" (click)="handleClickAction(item)">
    <div class="title">{{item.Title}}</div>
    <div class="description">{{item.Description}}</div>
  </div>

  <mat-icon class="btn-close">clear</mat-icon>
</mat-menu>

<!-- mat menu -->