<div class="header">
    <div class="left d-flex align-items-center">
        <div class="home me-2 ms-1 flex-center">
            <mat-icon>home</mat-icon>
        </div>
        <div *ngIf="(currentScreenSize$ | async ) == 'mobile'" class="menu-sidebar flex-center">
            <mat-icon>list</mat-icon>
        </div>
    </div>
    <div class="middle">
        Trello
    </div>
    <div class="right">
        <div class="notify"></div>
        <div class="user-management">NV</div>
    </div>
</div>