
// tạo class tự động cắt sau một số dòng
@mixin generate-class-line-clamp() {
    @for $i from 1 through 20 {
        .line-clamp-#{$i} {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: #{$i};
            -webkit-box-orient: vertical;
        }
    }
}
@include generate-class-line-clamp();
// #endgion

// class margin
@mixin generate-class-margin-left() {
    @for $i from 1 through 40 {
        .m-l-#{$i} {
            margin-left: #{$i + "px"};
        }
    }
}
@include generate-class-margin-left();

@mixin generate-class-margin-right() {
    @for $i from 1 through 40 {
        .m-r-#{$i} {
            margin-right: #{$i + "px"};
        }
    }
}
@include generate-class-margin-right();

@mixin generate-class-margin-top() {
    @for $i from 1 through 40 {
        .m-t-#{$i} {
            margin-top: #{$i + "px"};
        }
    }
}
@include generate-class-margin-top();

@mixin generate-class-margin-bottom() {
    @for $i from 1 through 40 {
        .m-b-#{$i} {
            margin-bottom: #{$i + "px"};
        }
    }
}
@include generate-class-margin-bottom();
@mixin generate-class-padding-left() {
    @for $i from 1 through 40 {
        .p-l-#{$i} {
            padding-left: #{$i + "px"};
        }
    }
}
@include generate-class-padding-left();
@mixin generate-class-padding-right() {
    @for $i from 1 through 40 {
        .p-r-#{$i} {
            padding-right: #{$i + "px"};
        }
    }
}
@include generate-class-padding-right();
@mixin generate-class-padding-top() {
    @for $i from 1 through 40 {
        .p-t-#{$i} {
            padding-top: #{$i + "px"};
        }
    }
}
@include generate-class-padding-top();
@mixin generate-class-padding-bottom() {
    @for $i from 1 through 40 {
        .p-b-#{$i} {
            padding-bottom: #{$i + "px"};
        }
    }
}
@include generate-class-padding-bottom();
// #endgion

@mixin overlay() {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
