@import "./mixin.scss";

.font-16 {
    font-size: 16px;
}

.font-14 {
    font-size: 14px;
}
.font-18 {
    font-size: 14px;
}

.font-20 {
    font-size: 20px;
}

.f-w-500 {
    font-weight: 500;
}
.f-w-600 {
    font-weight: 600;
}
.f-w-700 {
    font-weight: 700;
}

.pointer {
    cursor: pointer;
}

.border-active-1 {
    border: #005abd solid 1px;
}
.border-active-2 {
    border: #005abd solid 2px;
}

.app-btn-primary {
    height: 36px;
    background: #005abd;
    color: #ffffff;
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background: #004c9e;
    }
}
