:host {
  .sidebar {
    width: 240px;
    .sidebar-item {
      height: 40px;
      margin-bottom: 4px;
      border-radius: 4px;
      font-size: 16px;
      font-weight: 700;
      color: #1f1f1f;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #091e42;
      cursor: pointer;
      padding: 0px 12px;
      &:hover {
        background-color: rgba(9, 30, 66, 0.08);
      }
      &:active {
        background-color: rgba(9, 30, 66, 0.13);
      }
    }
    .active {
      color: #0079BF;
      background-color: #e4f0f6;
    }
  }
}
